.cell {
  margin: 0px, 0px;
}
body {
  background: rgb(255, 153, 102);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 102, 1) 0%,
    rgba(255, 94, 98, 1) 100%
  );
  z-index: 2;
}
.header {
  font-family: "Rampart One", cursive;
  font-size: 46px;
  display: flex;
  justify-content: center;

  color: #000000;
}

.container {
  display: grid;
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: #851d37;
  height: 480px;
  width: 480px;
  max-width: 480px;
  max-height: 480px;
  z-index: 1;
  background-color: white;
}

.set-up {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}

#rainbow {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  background: rgba(255, 153, 102, 1) 0%;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  height: 50px;
}

#rainbow:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  border-color: black;
}

.clear {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  background: rgba(255, 153, 102, 1) 0%;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  height: 50px;
}

.clear:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.position-color-text {
  margin-top: -280px;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  height: 50px;
}

.canvas-font {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  height: 50px;
}

.range-value {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 18px;
}

footer {
  color: #494949;
}
@media only screen and (min-width: 600px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 800px) {
  html {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1.2;
  }
}

.position-color-text {
  margin-top: 10px;
}

.hints {
  margin-left: -950px;
  margin-top: -250px;
}
.wrap {
  display: flex;
  margin-left: 570px;
  gap: 60px;
  flex-direction: column;
}

.text {
  font-size: 18px;
  font-family: "Signika", sans-serif;
  font-weight: 300;
}
.subsol {
  background-color: #851d37;
  margin-top: 52px;
  height: 40px;
  line-height: 40px;
}
.subsol-text {
  align-items: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
