.cell {
  margin: 0px, 0px;
}
body {
  background: rgb(255, 153, 102);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 102, 1) 0%,
    rgba(255, 94, 98, 1) 100%
  );
  z-index: 2;
  /* border:10px solid black; */
  height:100%;
}
html, 
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}




#rainbow {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  background: rgba(255, 153, 102, 1) 0%;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.6rem;
  height: 3rem;
}

#rainbow:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

 /* <== Butonu de culoare ==> */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  border-color: black;
}

.clear {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  background: rgba(255, 153, 102, 1) 0%;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.6rem;
  height: 3rem;
}

.clear:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.position-color-text {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.6rem;
  height: 1.2rem;
  margin: 0 0 0.6rem 0;
}

.canvas-font {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.6rem;
  height: 1.2rem;
}

.range-value {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

footer {
  color: #494949;
  
}

.text {
  font-size: 18px;
  font-family: "Signika", sans-serif;
  font-weight: 300;
  /* border:5px solid rgb(249, 247, 247); */
}
.subsol {
  background-color: #851d37;
  line-height: 3rem;
  /* border:5px solid pink; */
}
.subsol-text {
  align-items: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

 /* <=== Drawing game Div YELLOW ===> */
.header {
  font-family: "Rampart One", cursive;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  /* border:5px solid yellow; */
  margin: 1rem 0 0 10rem;
  
  color: #000000;
}
 /* <=== Canvas and Right side with btns and everything GREEN   ===> */
.set-up {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:5px solid green; */
}

 /* <=== Just Canvas  RED ===> */
.container {
  display: grid;
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: #851d37;
  height:36rem;
  width:38rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 4rem 3rem 0 3rem;
}


 /* <=== The actual Text GREEN   ===> */
.text{
  /* border:5px solid darkgreen; */
  font-size: 1.6rem;
}

 /* <=== The div for the right side no canvas BROWN ===> */
.wrap {
  display: flex;
  gap: 60px;
  flex-direction: column;
  /* border:5px solid brown; */

}
 /* <=== Pick color all    ===> */
.pick-color{
  /* border: 5px solid turquoise; */
}
 /* <=== Pick color  text only===> */
.position-color-text{
  /* border:5px solid blue; */
}
 /* <=== Clear btn   ===> */
.clear-button{
  /* border:6px solid black; */
}

 /* <=== Rainbow btn   ===> */
.rainbow-button{
  /* border: 5px solid orange; */
}
 /* <=== Canvas size text ===> */
.canvas-font{
  /* border:5px solid white; */
}


 /* <=== Range val text   ===> */
.range-value{
  /* border:5px solid firebrick; */
}

 /* <=== footer    ===> */
.subsol{
/* border:6px solid slateblue; */
position: absolute;
bottom: 0px;
width:100%;
}


@media screen and (max-width:385px){
   .header{
    font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0rem;
   }

   .container {
  display: grid;
  border-color: #851d37;
  height:20rem;
  width:32rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 0;
}
.text{
  /* border:5px solid darkgreen; */
  display: none;
}
.wrap {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* border:5px solid brown; */

}
.position-color-text{
  font-size: 0.7rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 2rem;
  height: 1.2rem;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}
.clear{
  font-size: 0.7rem;
  height:2.6rem;
}
#rainbow{
  font-size: 0.7rem;
  height:2.6rem;
}
.canvas-font{
  font-size: 0.6rem;
  width: 100%;
}

#range.range{
  margin: 1rem 0  0 0;
  width: 70%;
}

.range-value{
  font-size: 0.7rem;
}
.subsol{
/* border:6px solid slateblue; */

position: absolute;
bottom: 0px;
width:100%;
line-height: 1rem;
}
.subsol-text{
  font-size: 0.8rem;
}
.set-up{
  margin-top: 3rem;
}
.wrap{
  width:6rem;
}
}


@media only screen and (min-width: 386px) and (max-width: 450px){
   .header{
    font-size: 2rem;
  display: flex;
  justify-content: center;
  /* border:5px solid yellow; */
  margin: 1rem 0 0 0rem;
   }

   .container {
  display: grid;
  border-color: #851d37;
  height:23rem;
  width:32rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 0;
}
.text{
  /* border:5px solid darkgreen;*/
  display: none;
}
.wrap {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* border:5px solid brown; */

}
.position-color-text{
  font-size: 0.7rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 2rem;
  height: 1.2rem;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}
.clear{
  font-size: 0.7rem;
  height:2.6rem;
}
#rainbow{
  font-size: 0.7rem;
  height:2.6rem;
}
.canvas-font{
  font-size: 0.6rem;
  width: 100%;
}

#range.range{
  margin: 1rem 0  0 0;
  width: 70%;
}

.range-value{
  font-size: 0.7rem;
}
.subsol{
/* border:6px solid slateblue; */

position: absolute;
bottom: 0px;
width:100%;
line-height: 1rem;
}
.subsol-text{
  font-size: 0.8rem;
}
.set-up{
  margin-top: 8rem;
}
.wrap{
  width:6rem;
}
}

@media only screen and (min-width: 451px) and (max-width: 749px){
   .header{
    font-size: 2rem;
  display: flex;
  justify-content: center;
  /* border:5px solid yellow; */
  margin: 1rem 0 0 0rem;
   }

   .container {
  display: grid;
  border-color: #851d37;
  height:23rem;
  width:32rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 0;
}
.text{
  /* border:5px solid darkgreen; */
  display: none;
}
.wrap {
  display: flex;
  /* margin-left: 570px; */
  gap: 2rem;
  flex-direction: column;
  /* border:5px solid brown; */

}
.position-color-text{
  font-size: 0.7rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 2rem;
  height: 1.2rem;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}
.clear{
  font-size: 0.7rem;
  height:2.6rem;
}
#rainbow{
  font-size: 0.7rem;
  height:2.6rem;
}
.canvas-font{
  font-size: 0.6rem;
  width: 100%;
}
#range.range{
  margin: 1rem 0  0 0;
  width: 70%;
}

.range-value{
  font-size: 0.7rem;
}
.subsol{
/* border:6px solid slateblue; */

position: absolute;
bottom: 0px;
width:100%;
line-height: 1rem;
}
.subsol-text{
  font-size: 0.8rem;
}
.set-up{
  margin-top: 8rem;
}
.wrap{
  width:6rem;
}
}


@media only screen and (min-width: 750px) and (max-width: 1024px){
   .header{
    font-size: 3rem;
  display: flex;
  justify-content: center;
  /* border:5px solid yellow; */
  margin: 2rem 1rem 0 0;
   }
  
.set-up{
  display: flex;
  flex-direction: row;
  margin-top: 9rem;
}
   .text{
    display: none;
   }

    .container {
  display: grid;
  border-color: #851d37;
  height:30rem;
  width:30rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 0;
}

}

@media only screen and (min-width: 1023px) and (max-width: 1290px){
   .header{
    font-size: 3rem;
  display: flex;
  justify-content: center;
  /* border:5px solid yellow; */
  margin: 0rem 1rem 0 0;
   }
  
.set-up{
  display: flex;
  flex-direction: row;
  margin-top: 0rem;
}
   .text{
    display: none;
   }

    .container {
  display: grid;
  border-color: #851d37;
  height:22rem;
  width:30rem;
  z-index: 1;
  background-color: white;
  /* border:8px solid red; */
  margin: 0 1rem 0 0;
}


}